<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>API Home</title>
  <link rel="stylesheet" href="../styles.css">
</head>
<body>
<div class="background">
  <div class="overlay"></div>
  <header>
    <img src="../assets/images/Title.png" alt="Logo" class="logo">
    <input type="text" placeholder="Buscar..." class="search-bar">
  </header>
  <div class="card-container">
    <div class="card">
      <a routerLink="/crear-cuenta">Crear Cuenta</a>
    </div>
    <div class="card">
      <a routerLink="/login">Iniciar Sesión</a>
    </div>
  </div>

  <!-- Este es el lugar donde se cargarán las vistas según la ruta -->
  <router-outlet></router-outlet>
</div>
</body>
</html>
